.row.form-background.mb-5
  .col-9
    = form_with model: @blood_cell_description, local: true do |f|
      .mb-3
        = f.label :title, class: 'form-label'
        = f.text_field :title, class: 'form-control', required: true
      .mb-3
        = f.label :description, class: 'form-label'
        = f.text_area :description, class: 'form-control', required: true
      .mb-3
        = f.label :parameter, 'Blood parameter', class: 'form-label'
        = f.select :parameter, options_for_select(Hemigrams::ParameterMetadata.all.pluck(:parameter_name).sort, selected: @blood_cell_description.parameter), { include_blank: 'Select a parameter' }, class: 'form-select'
      .mb-3
        = f.label :landing_page_only, class: 'form-label'
        = f.check_box :landing_page_only, class: 'form-control'

      -# create the related source links
      .links
        = f.fields_for :links do |link|
          .col-12
            = render 'link_fields', f: link
      = link_to_add_association 'Add Link', f, :links, data: { association_insertion_node: '.links', association_insertion_method: :append }, class: 'btn btn-info'

      .mt-5
        = f.submit 'Submit', class: 'btn btn-primary'