.container.mt-5.mb-5
  .header-title.p-0.m-0
    %h1
      %span.text-highlight Blood cell descriptions
  = link_to 'New', new_admin_blood_cell_description_path, class: 'btn btn-primary mb-3'
  - @blood_cell_descriptions&.each do |description|
    .card.mb-3
      .card-body
        %h5.card-title= description.title
        %p.card-text= description.description
        %p
          created at:
          = description.created_at
        %p
          updated at
          = description.updated_at
        %p
          Sources:
          %ul
          - description.links.each do |link|
            %li= "#{link.name}, #{link.url}"
        %p
          Text generation AI tool:
          %ul
          - text_generators = description.links.select(&:text_generator)
          - if text_generators.any?
            - text_generators.each do |generator|
              %li= "#{generator.name}, #{generator.url}"
          -else
            %li None
        = link_to 'Edit', edit_admin_blood_cell_description_path(description.id), class: 'btn btn-primary'
        = link_to 'Delete', admin_blood_cell_description_path(description.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this description?' }, class: 'btn btn-danger'
