.container
  .mt-5
    %h2.center-align My Hemigrams
    .mt-5
      .row
        .col-9.mb-3
          %h3.col-2.text-highlight Filter charts
          = render partial: '/hemigrams/chart_settings/form', locals: { current_user: , chart_setting: @chart_setting}

      - @user_parameters.each do |parameter|
        %p= parameter.humanize
        .mb-5.chart
          - chart_unit = Admin::Hemigrams::ParameterMetadata.find_by(parameter_name: parameter.to_sym).chart_unit
          - min = Admin::Hemigrams::ParameterMetadata.find_by(parameter_name: parameter.to_sym).lower_limit
          - max = Admin::Hemigrams::ParameterMetadata.find_by(parameter_name: parameter.to_sym).upper_limit
          - chart_data = @charts_data.select{|h| h[:name] == parameter.downcase}

          .chart-links
            = link_to('Add data', new_hemigram_path(parameter:), class: 'btn btn-outline-dark')
            = link_to('Glossary', glossary_path + "##{parameter}-glossary", class: 'btn btn-outline-dark')

          -# graph_annotations are defined in a view helper
          -# graph_datasets view helper, dataset: { pointBackgroundColor: }
          = line_chart(chart_data,                                                  |
              discrete: true,                                                       |
              colors: ["#3a3d69"],                                                  |
              thousands: ',',                                                       |
              decimal: '.',                                                         |
              zeros: true,                                                          |
              ytitle: chart_unit,                                                   |
              options: {                                                            |
              },                                                                    |
              dataset: {                                                            |
                pointBackgroundColor: point_background_color(chart_data, min, max), |
                pointBorderWidth: 0,                                                |
                pointRadius: 7,                                                     |
                pointHoverBackgroundColor: 'red',                                   |
                pointHoverRadius: 8,                                                |
                pointHoverBorderWidth: 0                                            |
                },                                                                  |
              library: {                                                            |
                plugins: { annotation: graph_annotations(min, max) },               |
              },                                                                    |
            )                                                                       |
