.user-account-section.mb-5
  .container
    %h1
      %span.text-highlight
        Welcome
      = @user.username
    %p
      Username:
      = @user.username
    %p
      User is admin?:
      = @user.admin?

    %p Change your password here
    = link_to edit_user_password(@user)

    %h2 Chart settings
    %p Select the parameters for which you want to display the charts
    .row
      .col-9.mb-3
        = render partial: '/hemigrams/chart_settings/check_boxes', locals: { current_user: , chart_setting: @chart_setting}

