.accordion.accordion-flush#accordion-blood-cells
  - @blood_cell_descriptions.each_with_index do |description, idx|
    .accordion-item
      %h2{id: "flush-heading#{idx}.accordion-header"}
        %button.accordion-button.collapsed{"aria-controls": "flush-collapse#{idx}", "aria-expanded": "false", "data-bs-target": "#flush-collapse#{idx}", "data-bs-toggle": "collapse", type: "button"}
          = description.title
      .accordion-collapse.collapse{"aria-labelledby": "flush-heading#{idx}", "data-bs-parent": "#accordion-blood-cells", id: "flush-collapse#{idx}"}
        .accordion-body
          %p= sanitize(description.description).html_safe
          - sources = description.links.reject(&:text_generator)
          - if sources.any?
            %p.source
              Sources of information
              %ul
                - sources.each do |source|
                  %li= source.url.blank? ? source.name : link_to(source.name, source.url)
          - text_generators = description.links.select(&:text_generator)
          - if text_generators.any?
            Note: text generated with
            %ul
              - text_generators.each do |generator|
                %li= link_to generator.name, generator.url, title: 'Generator of the description'

