.accordion.accordion-flush#accordion-blood-cells
  -# .accordion-item
  -#   %h2#flush-headingTwo.accordion-header
  -#     %button.accordion-button.collapsed{"aria-controls" => "flush-collapseTwo", "aria-expanded" => "false", "data-bs-target" => "#flush-collapseTwo", "data-bs-toggle" => "collapse", type: "button"}
  -#       Thrombocythes
  -#   #flush-collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "flush-headingTwo", "data-bs-parent" => "#accordion-blood-cells"}
  -#     .accordion-body
  -#       = sanitize(@thrombocytes_article.summary)
  -#       = link_to('link', sanitize(@thrombocytes_article.url))
  -#       %p
  -#         source:
  -#         = sanitize(@thrombocytes_article.source)
  - @blood_cell_descriptions.each_with_index do |description, idx|
    .accordion-item
      %h2{id: "flush-heading#{idx}.accordion-header"}
        %button.accordion-button.collapsed{"aria-controls": "flush-collapse#{idx}", "aria-expanded": "false", "data-bs-target": "#flush-collapse#{idx}", "data-bs-toggle": "collapse", type: "button"}
          = description.title
      .accordion-collapse.collapse{"aria-labelledby": "flush-heading#{idx}", "data-bs-parent": "#accordion-blood-cells", id: "flush-collapse#{idx}"}
        .accordion-body
          %p= description.description
          %p.source
            Sources of information:
            %ul
              %li= link_to 'National Library of Medicine', 'https://medlineplus.gov/lab-tests/monocyte-count/'
              %li= link_to 'Mayo Clinic', 'https://www.mayoclinic.org/tests-procedures/complete-blood-count/about/pac-20384919'
              %li= link_to 'Medscape', 'https://emedicine.medscape.com/article/208506-overview'
            - if description.text_generator
              Note: text generated with
              = link_to description.text_generator, 'https://chat.openai.com/'

