#affiliate-marketing-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Affiliate marketing
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight Interessting links
    %p.pt-5
      In this section, I share links to products, books, and courses that I've found interesting. Please note that these are affiliate marketing links, which means I earn a small commission if you make a purchase through them. I haven't personally tried these products, so I can't guarantee their effectiveness. However, I believe they could be helpful to you and wanted to present them in case they interest you.
    .news-cards-wrapper
      .row
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = link_to 'https://cb874ftjsousjr8pkjrek81fx8.hop.clickbank.net', onclick: "trackLinkClick('affiliate marketing', 'click image link', 'Ironbound'); return true;" do
              = image_tag('https://blueheronhealthnews.com/health/wp-content/uploads/2020/10/Ad-Ironbound_smaller.jpg', class: 'img-fluid card-img-top', alt: 'Affiliate marketing link for the Ironbound book')
            .card-body
              %h5.card-title Ironbound
              %h6.card-subtitle.mb-2.text-body-secondary
                A strategy for the management of hemochromatosis
              %p.card-text These are people who simply were not prepared to risk the serious downside of HCT. Nor were they willing to endure a lifetime of blood-giving – with all the complications that involve, especially as we grow older. This program explains how to treat the intense itching and pain during shingles – and completely side-stepped horrible post-shingles nerve pain while avoiding a repeat attack later. There is also a money back guarantee.
              = link_to('read more >', 'https://cb874ftjsousjr8pkjrek81fx8.hop.clickbank.net', class: 'card-link card-news-link', onclick: "trackLinkClick('affiliate marketing', 'click read more link', 'Ironbound'); return true;")
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = link_to 'https://a24d5ktrphqmlk8g0hj9y31q17.hop.clickbank.net', onclick: "trackLinkClick('affiliate marketing', 'click image link', 'Home doctor'); return true;" do
              = image_tag('https://lh3.googleusercontent.com/XLSyETJ93dNbwc02OONokoDahjzsdNBOUu9g0SziuJ0TD2r5oEW63uqlMqL_FVKlLt93b1jwhtoiohAX9KG_wpVcODKEV4kKjvDG=w876', class:'img-fluid card-img-top', alt:'Affiliate marketing link for the Home doctor book')
            .card-body
              %h5.card-title Book: Home doctor
              %h6.card-subtitle.mb-2.text-body-secondary
                Practical medicine for every household
              %p.card-text
                The Home Doctor - Practical medicine for every household - is a 304 page doctor written and approved guide on how to manage most health situations when help is not on the way.
                Dr. Maybell Nieves - head surgeon of the Unit of Breast Pathology and general surgeon at Caracas University Hospital in Venezuela, with over 10 years of experience in the operating room. She studied at the prestigious European Institute of Oncology in Milan, Italy.
                The author is known for developing new, ingenious methods of treating patients after Venezuela's economy collapsed and hospitals and pharmacies ran out of medicines, supplies, electricity and running water.
                The methods she developed and pioneered are now studied and applied in conflict zones all over the world.
              = link_to('read more >', 'https://a24d5ktrphqmlk8g0hj9y31q17.hop.clickbank.net', class: 'card-link card-news-link', onclick: "trackLinkClick('affiliate marketing', 'click read more link', 'Home doctor'); return true;")
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = link_to 'https://beee7dshklhkfz59cg2tbo6n92.hop.clickbank.net', onclick: "trackLinkClick('affiliate marketing', 'click image link', 'reverse diabetes'); return true;" do
              = image_tag('https://www.reverse-diabetes-today.com/images/Homescreen-3rd-ReverseDiabetes2.jpg', class:'img-fluid card-img-top', alt:'Affiliate marketing link for a method to reverse diabetes type 2 today')
            .card-body
              %h5.card-title Reverse diabetes type 2 today
              %h6.card-subtitle.mb-2.text-body-secondary
                Discover how to completely reverse type 2 diabetes with an all natural, proven method!
              %p.card-text
                Hear from the world's top doctors and Nobel Prize winners and learn how to quickly lower your blood sugar naturally and eliminate the need for prescription drugs and insulin injections.
                %ul
                  %li Normalize your blood sugar - without pills, calorie counting or hunger
                  %li Restore pancreatic function and eliminate insulin resistance
                  %li Prevent or reverse diabetes complications
                  %li Increase insulin and leptin sensitivity so you can easily lose weight and keep it off
                  %li Get completely off your diabetes medications
                  %li Boost your energy levels, strengthen your immune system and improve the quality of your life
              = link_to('read more >', 'https://beee7dshklhkfz59cg2tbo6n92.hop.clickbank.net', class: 'card-link card-news-link', onclick: "trackLinkClick('affiliate marketing', 'click read more link', 'reverse diabetes'); return true;")
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = link_to 'https://7d275qmnijrino5607kjpqu781.hop.clickbank.net', onclick: "trackLinkClick('affiliate marketing', 'click image link', 'human anatomy course'); return true;" do
              = image_tag('https://www.humananatomycourse.com/wp-content/uploads/2020/08/anatomy-chart-768x512.jpg', class:'img-fluid card-img-top', alt:'Affiliate marketing link for a very complete Human anatomy course')
            .card-body
              %h5.card-title Human anatomy course
              %h6.card-subtitle.mb-2.text-body-secondary
                Here's your chance to skip the struggle and master human anatomy and physiology
              %p.card-text
                Are you looking to learn anatomy and physiology?
                You're about to discover the most spectacular gold mine of human anatomy and physiology materials and diagrams ever created for commercial sale!
                everything you'll ever need to know about human anatomy, physiology and drug therapy complete with diagrams, courses, lesson plans, quizzes and solutions.
                It promises that you could master over 15 years of anatomy and physiology knowledge in just 7 days!
              = link_to('read more >', 'https://7d275qmnijrino5607kjpqu781.hop.clickbank.net', class: 'card-link card-news-link', onclick: "trackLinkClick('affiliate marketing', 'click read more link', 'human anatomy course'); return true;")
