#affiliate-marketing-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Affiliate marketing
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight Interessting links
    %p.pt-5
      This is a section where I show you some links of products, books, courses that I found interesting. At the same time I would like to tell you that those are affiliate marketing links through those I earn a bit of money in case you buy them. I have not really tried the product, but still would like to present them to you, hoping that they could help you.
    .news-cards-wrapper
      .row
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = image_tag('https://blueheronhealthnews.com/health/wp-content/uploads/2020/10/Ad-Ironbound_smaller.jpg', class:'img-fluid card-img-top', alt:'affiliate marketing')
            .card-body
              %h5.card-title Ironbound
              %h6.card-subtitle.mb-2.text-body-secondary
                A strategy for the management of hemochromatosis
              %p.card-text Blablabla
              = link_to('read more >', 'https://blueheronhealthnews.com/health/my-hemochromatosis-cb-cta/?clink=textversionlink', class: 'card-link card-news-link')
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = image_tag('https://www.reverse-diabetes-today.com/images/Homescreen-3rd-ReverseDiabetes2.jpg', class:'img-fluid card-img-top', alt:'affiliate marketing')
            .card-body
              %h5.card-title Reverse diabetes type 2 today
              %h6.card-subtitle.mb-2.text-body-secondary
                Discover how to completely reverse type 2 diabetes with an all natural, proven method!
              %p.card-text Blablabla
              = link_to('read more >', 'https://www.reverse-diabetes-today.com/', class: 'card-link card-news-link')
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = image_tag('https://www.humananatomycourse.com/wp-content/uploads/2020/08/anatomy-chart-768x512.jpg', class:'img-fluid card-img-top', alt:'affiliate marketing')
            .card-body
              %h5.card-title Human anatomy course
              %h6.card-subtitle.mb-2.text-body-secondary
                Here's your chance to skip the struggle and master human anatomy and physiology
              %p.card-text Blablabla
              = link_to('read more >', 'https://www.humananatomycourse.com', class: 'card-link card-news-link')
        .col-md-6
          .card#news-card.mb-3
            .card-header Affiliate Marketing
            = image_tag('https://lh3.googleusercontent.com/XLSyETJ93dNbwc02OONokoDahjzsdNBOUu9g0SziuJ0TD2r5oEW63uqlMqL_FVKlLt93b1jwhtoiohAX9KG_wpVcODKEV4kKjvDG=w876', class:'img-fluid card-img-top', alt:'affiliate marketing')
            .card-body
              %h5.card-title Book: Home doctor
              %h6.card-subtitle.mb-2.text-body-secondary
                Practical medicine for every household
              %p.card-text The Home Doctor - Practical medicine for every household - is a 304 page doctor written and approved guide on how to manage most health situations when help is not on the way.
              = link_to('read more >', 'https://homedoctorguide.com/book/?hop=zzzzz', class: 'card-link card-news-link')

