#background-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Background
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight
            Thrombocytes, Hemoglobin Are Hieroglyphs To You?
    .bg-content.pt-5
      .dictionary
        = render('accordion-cells')
      .wrapper-blood-cell-image
        .image-with-credit
          = image_tag('blood-cell-types.png', alt: 'Image of different blood cell types')
          #cells-credit.image-credit{'data-tooltip': 'Image by brgfx on Freepik'}
            = link_to('image source', 'https://www.freepik.com/free-vector/type-blood-cells_18233500.htm#&position=11&from_view=collections#position=11')
    #search_medline.mt-5
      .header-title
        %h3
          %span.text-highlight.text-center
            Want to search by your own? Here is your chance.
      %p Use the search field below to look up symptoms, medical terms, and more.

      = turbo_frame_tag 'mediline_search' do
        = form_tag root_path, method: :get, id: 'mediline-search-form', data: { turbo_frame: 'mediline_result', update_url: true } do
          .row.row-cols-auto
            .col
              = text_field_tag :mediline_search, params[:mediline_search], placeholder: 'Search mediline', class: 'form-control', required: true
            .col
              = submit_tag 'Search', name: nil, class: 'btn btn-outline-dark'

      .mt-5
        - if @error_message.present?
          %p.text-center
            %i.fa-regular.fa-face-sad-tear.fa-xl
            = @error_message
        = render partial: 'mediline_results', locals: { mediline_search_result: @mediline_search_result }
