#background-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Background
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight
            Thrombocytes, Hemoglobin are Hieroglyphs to you?
    .bg-content.pt-5
      .dictionary
        = render('accordion-cells')
      .wrapper-blood-cell-image
        .image-with-credit
          = image_tag('blood-cell-types.png', alt: 'blood cell types description')
          #cells-credit.image-credit{'data-tooltip': 'Image by brgfx on Freepik'}
            = link_to('image source', 'https://www.freepik.com/free-vector/type-blood-cells_18233500.htm#&position=11&from_view=collections#position=11')
    #search_medline.mt-5
      .header-title
        %h3
          %span.text-highlight
            Want to search by your own? Here is your chance.
      %p Use the search field below to look up symptomes, medical terms and more
      .mt-3
        = form_tag root_path, method: :get, id: 'mediline-search-form', data: {turbo_frame: 'mediline_results'} do
          .row.row-cols-auto
            .col
              = text_field_tag :mediline_search, params[:mediline_search], placeholder: 'Search mediline', class: 'form-control'
            .col
              = submit_tag 'Search', name: nil, class: 'btn btn-outline-dark'

      -# render mediline search results
      .mt-5
        = render partial: 'mediline_results', locals: { mediline_search_result: @mediline_search_result }
