#main-section
  .container
    .text
      %h1
        A
        %span.text-highlight free
        and
        %span.text-highlight anonymous
        blood values tracker
      %p.sub-title Start monitoring your blood values today and discover potential health risks
  %canvas#landingpage-animation
  -# #deco-left= image_tag('hero-section-deco-left.png', alt: 'decoration element left')
  #deco-right= image_tag('hero-section-deco-right.png', alt: 'decoration element right')
  #deco-circle= image_tag('hero-section-deco-circle.svg', alt: 'decoration element circle')
  #deco-right
= render('problem_section')
= render('background_section')
= render('news_section')
= render('app_preview_section')
= render('affiliate-marketing-section')
