.devise-views.mb-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Log in (Admin)
    %p.small Currently the login is only possible for the admin. When the tracker becomes available, you will be able to sign up.
  .row
    .col-md-6
      = form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f|
        .mb-3
          = f.label :email, class: 'form-label', for: 'email_input'
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', id: 'email_input', placeholder: 'my_email@example.com'

        .mb-3
          = f.label :password, class: 'form-label', for: 'password_input'
          = f.password_field :password, autocomplete: 'current-password', class: 'form-control', id: 'password_input'

        - if devise_mapping.rememberable?
          .form-check.mb-3
            = f.check_box :remember_me, class: 'form-check-input', id: 'remember-checkbox'
            = f.label :remember_me, class: 'form-check-label', for: 'remember-checkbox'

        .actions.mb-2
          = f.submit('Log in', class: 'btn btn-outline-light')

      = render 'devise/shared/links'
