- provide(:title, 'The BloodTracker: Sign in')
- provide(:description, 'Sign in to your BloodTracker account to access your blood values and health tracking dashboard.')

= turbo_page_requires_reload

.devise-views.container.pt-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Log in
  .row
    .col-md-6
      = form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f|
        .mb-3
          = f.label :username, class: 'form-label', for: 'username_input'
          = f.text_field :username, autofocus: true, autocomplete: 'username', class: 'form-control', id: 'username_input', placeholder: 'my_username'

        .mb-3
          = f.label :password, class: 'form-label', for: 'password_input'
          = f.password_field :password, autocomplete: 'current-password', class: 'form-control', id: 'password_input'

        - if devise_mapping.rememberable?
          .form-check.mb-3
            = f.check_box :remember_me, class: 'form-check-input', id: 'remember-checkbox'
            = f.label :remember_me, class: 'form-check-label', for: 'remember-checkbox'

        .actions.mb-2
          = f.submit('Log in', class: 'btn btn-outline-dark')

    .col-md-12
      = render 'devise/shared/links'
