.row
  .col-9
    = form_with model: @blood_cell_description, local: true do |f|
      .mb-3
        = f.label :title, class: 'form-label'
        = f.text_field :title, class: 'form-control', required: true
      .mb-3
        = f.label :description, class: 'form-label'
        = f.text_area :description, class: 'form-control', required: true
      .mb-3
        = f.label :source_links, class: 'form-label'
        = f.text_field :source_links, class: 'form-control'
        %p.form-text
          [{"source": "medlib", "link": "https://test.com"},{"source": "medlib2", "link": "https://test2.com"}]
      .mb-3
        = f.label :text_generator, class: 'form-label'
        = f.text_field :text_generator, class: 'form-control'
        %p.form-text e.g. ChatGPT, https://chat.openai.com/

      -# create the related source links
      = f.fields_for :links do |link_fields|
        .col-12
          = link_fields.label :name
          = link_fields.text_field :name
          = link_fields.label :url
          = link_fields.text_field :url
          = link_fields.label 'Text generator link?'
          = link_fields.check_box :text_generator
          .pull-right
            = link_fields.check_box :_destroy
            = link_fields.label :_destroy, 'Remove'
        -if @blood_cell_description.persisted?
          = link_to_add_association 'Add Link', f, :links
        - else
          = link_to_add_association 'Add Link', @blood_cell_description, :links




      .mt-5
        = f.submit 'Submit', class: 'btn btn-primary'