.row
  .col-6
    = form_with model: @blood_cell_description, local: true do |f|
      .mb-3
        = f.label :title, class: 'form-label'
        = f.text_field :title, class: 'form-control', required: true
      .mb-3
        = f.label :description, class: 'form-label'
        = f.text_area :description, class: 'form-control', required: true
      .mb-3
        = f.label :source_links, class: 'form-label'
        = f.text_field :source_links, class: 'form-control'
        %p.form-text
          [{"source": "medlib", "link": "https://test.com"},{"source": "medlib2", "link": "https://test2.com"}]
      .mb-3
        = f.label :text_generator, class: 'form-label'
        = f.text_field :text_generator, class: 'form-control'
        %p.form-text e.g. ChatGPT
      = f.submit 'Submit', class: 'btn btn-primary'