.row
  .col-md-5.g-3
    = form.select :parameter, options_for_select(Admin::Hemigrams::ParameterMetadata.all.sort_by{ _1.parameter_name }.map{ |metadata| ["#{metadata.parameter_name.humanize} (#{metadata.abbreviations.join(', ')})", metadata.parameter_name] }, |
      selected: @hemigram.parameter || params[:parameter]),                                                              |
      { include_blank: 'Select parameter' },                                                                             |
      class: 'form-select',                                                                                              |
      id: "parameter-select-#{@hemigram.persisted? ? @hemigram.id : 'new'}",                                                                                            |
      required: true, |
      data: { controller: 'dynamic-select', 'turbo-frame': 'unit_options', url: hemigrams_get_unit_selection_dropdown_options_path, object_id: @hemigram.persisted? ? @hemigram.id : 'new' } |
.row.mb-3
  - unless @hemigram.new_record?
    .col.g-3
      = form.text_field :short, disabled: true, class: 'form-control', id: 'input_abreviation', placeholder: @hemigram.short
      %div#abbreviation-display
  .col.g-3
    = form.text_field :value, class: "form-control", id: 'input_value'
  .col.g-3
    = turbo_frame_tag "unit_options-#{@hemigram.persisted? ? @hemigram.id : 'new'}" do
      = form.select(:unit, options_for_select([@hemigram.unit], selected: @hemigram.unit),{ include_blank: 'Select unit' }, class: 'form-select', required: true, data: { controller: 'dynamic-select' })
      #unit-selector
  - unless @hemigram.new_record?
    .col.g-3
      = form.fields_for :record_date do |date_form|
        = date_form.date_field :date, class: 'datepicker form-control', id: 'input_date', max: Date.current.to_s, min: (Date.current - 100.years).to_s, required: true, placeholder: 'Choose date', value: @hemigram.record_date.date

