<!-- to do: enter new data for the specific parameter ; dropdown of parameter; datepicker with materialize -->

<%= form_for :hemigram, url: hemigrams_path do |f| %>
  <%= render "devise/shared/error_messages", resource: @hemigram %>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <%= f.select :parameter, options_for_select(Hemigram.parameters, selected: @hemigram.parameter),
                       { include_blank: 'Select' },
                       class: 'form-control dropdown',
                       required: true %>
          <%= f.label :parameter %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <% if !@hemigram.new_record? %>
            <%= f.label :short %>
            <%= f.text_field :short, id: 'disabled', disabled: true %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.label :value %>
          <%= f.text_field :value %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.label :unit %>
          <%= f.select :unit, options_for_select(Hemigram.units, selected: @hemigram.unit),
                        { include_blank: 'Select' },
                        class: 'form-control',
                        required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.label :date %>
          <%= f.text_field :date, class: 'datepicker' %>
        </div>
      </div>

      <%= f.submit 'Submit', class: 'btn mt-3' %>

    </div>
  </div>
<% end %>
