/ TODO: enter new data for the specific parameter
-# dropdown of parameter - dependent dropdowns (unit - blood parameter specific)
-# dependent dropdowns: blood parameter - abbreviation
-# datepicker with nicer styles
.mb-5
  = form_for @hemigram do |f|
    = render partial: 'shared/model_errors', locals: { model: @hemigram }
    .mb-3
      = f.select :parameter, options_for_select(Hemigram::PARAMETERS.to_a.map { |key, value| ["#{key.to_s.humanize} (#{value[:short].join(', ')})", key] }, |
        selected: @hemigram.parameter),                                                              |
        { include_blank: 'Select parameter' },                                                       |
        class: 'form-select',                                                                        |
        id: 'parameter-select',                                                                      |
        required: true                                                                               |
    - unless @hemigram.new_record?
      .mb-3.form-floating
        = f.text_field :short, disabled: true, class: 'form-control', id: 'input_abreviation'
        = f.label :short, class: 'form-label', for: 'input_abreviation'
        %div#abbreviation-display
    .mb-3.form-floating
      = f.text_field :value, class: 'form-control', id: 'input_value'
      = f.label :value, class: 'form-label', for: 'input_value'
    .mb-3
      = f.select(:unit, options_for_select([@hemigram.unit], selected: @hemigram.unit),{ include_blank: 'Select unit' }, class: 'form-select', required: true)
    .mb-3.form-floating
      = f.date_field :date, class: 'datepicker form-control', id: 'input_date', max: Date.current.to_s, min: (Date.current - 100.years).to_s
      = f.label :date, class: 'form-label', for: 'input_date'
    .mb-3
      = f.submit 'Submit', class: 'btn btn-outline-dark'
