-# dropdown of parameter - dependent dropdowns (unit - blood parameter specific)
-# dependent dropdowns: blood parameter - abbreviation
-# datepicker with nicer styles
-# Allow entering several parameters at once for a specific date
.row
  .col-md-6.col-s-12
    .mb-5
      = form_for @hemigram, url: form_url, method: form_method  do |form|
        = render partial: 'shared/model_errors', locals: { model: @hemigram }
        = render partial: 'entry_fields', locals: { form: }
        .mb-3
          = form.submit 'Submit', class: 'btn btn-outline-dark'
          = link_to 'Back', :back, class: "btn btn-outline-dark"

