-# dropdown of parameter - dependent dropdowns (unit - blood parameter specific)
-# dependent dropdowns: blood parameter - abbreviation
-# datepicker with nicer styles
-# Allow entering several parameters at once for a specific date
.row.rounded.shadow.bg-white.m-3
  .col
    .mb-3
      = form_for @hemigram, url: @hemigram.persisted? ? view_user_hemigram_date_hemigram_path(@hemigram) : view_user_hemigram_date_hemigrams_path(view_user: current_user, hemigram_date_id: @hemigram.record_date.id), method: form_method(@hemigram)  do |form|
        = render partial: 'shared/model_errors', locals: { model: @hemigram }
        = render partial: 'entry_fields', locals: { form: }
        .row
          .col
            = form.submit(@hemigram.new_record? ? 'Save' : 'Update', class: 'btn btn-outline-dark')
            = link_to 'Cancel', hemigrams_view_user_path(current_user), class: "btn btn-outline-dark"

