= turbo_frame_tag(hemigram) do
  %li.list-group-item.list-group-item-action.d-flex.align-items-center.shadow
    - if on_hemigram_show_page?
      .col.align-items-center
        = hemigram.parameter&.humanize
      .col.align-items-center
        = hemigram.parameter_abbreviation
      .col.text-left
        %span{class: color_depending_norm_range(hemigram)}
          = hemigram.value.round(2)
      .col.text-left
        = render_unit(hemigram.unit)
      .col.text-left
        = hemigram.record_date.date
    - else
      = link_to view_user_hemigram_date_hemigram_path(current_user.id, hemigram.record_date, hemigram), class: 'd-flex align-items-center w-100 text-decoration-none text-black', data: { turbo: false }, title: 'Go to the parameter details page' do
        .col.align-items-center
          = hemigram.parameter&.humanize
          %i.fa-solid.fa-ellipsis-h.fa-xl.icon-red
        .col.align-items-center
          = hemigram.parameter_abbreviation
        .col.text-left
          %span{class: color_depending_norm_range(hemigram)}
            = hemigram.value.round(2)
        .col.text-left
          = render_unit(hemigram.unit)
        .col.text-left
          = hemigram.record_date.date
    .col.d-flex.justify-content-end
      .me-3= link_to('Edit', edit_view_user_hemigram_date_hemigram_path(current_user.id, hemigram.record_date, hemigram), class: "btn btn-outline-dark", title: 'Edit your hemigram entry')
      = link_to 'Delete', view_user_hemigram_date_hemigram_path(current_user, hemigram.record_date, hemigram), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this?' }, class: 'btn btn-warning', title: 'Delete your hemigram entry'

