.table-responsive
  %table.table.table-striped.table-hover.table-borderless
    %thead.table-light
      %tr
        %th Parameter
        %th Abbreviations
        %th Value
        %th Unit
        %th Date
        %th Action
    %tbody
      - hemigrams.each do |hemigram|
        %tr
          %td= hemigram.parameter.humanize
          %td= hemigram.short
          %td= hemigram.value
          %td= hemigram.unit
          %td= hemigram.record_date.date.to_date
          %td
            = link_to 'Edit', edit_view_user_hemigram_date_hemigram_path(current_user.id, hemigram.record_date, hemigram), class: "btn btn-outline-dark", title: 'Edit your hemigram entry'
            = link_to 'Delete', view_user_hemigram_date_hemigram_path(current_user, hemigram.record_date, hemigram), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this?' }, class: 'btn btn-warning', title: 'Delete your hemigram entry'
