.container.mt-5.mb-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight My Hemigrams
  -# TODO: sort columns
  .my-5.hemigram-data-table.shadow.p-3
    = render 'shared/search'
    = render partial: 'table', locals: { hemigrams: @hemigrams }
    .custom_pagination.mt-3.mb-3
      = will_paginate(@hemigrams, page_links: true)
  %p
    = link_to 'Enter new Hemigram', new_hemigram_path, class: 'btn btn-outline-dark'
    -if @hemigrams.any?
      = graphs_button('Visualize your data', 'btn-outline-dark')
