<h1> My Hemigram </h1>


<div class="mb-3">
  <table class="striped highlight responsive-table">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
        <th>Unit</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td> <%= @hemigram.parameter %> </td>
        <td> <%= @hemigram.value %> </td>
        <td> <%= @hemigram.unit %> </td>
        <td> <%= @hemigram.date %> </td>
      </tr>
    </tbody>
  </table>
</div>


<p> <%= link_to 'Enter new Hemigram', new_hemigram_path, class: 'btn' %> </p>
