= turbo_frame_tag('hemigrams') do
  %ul.mt-3.mb-3.list-group
    - @hemigram_dates.each do |record_date|
      - date = record_date.date
      .accordion.accordion-flush#accordion-hemigram-index
        .accordion-item
          %h2.accordion-header{id: "heading-#{date}"}
            %button.accordion-button.collapsed{ type: 'button', 'data-bs-toggle': "collapse", 'data-bs-target': "#collapse-#{date}", 'aria-expanded': "true", 'aria-controls': "collapse-#{date}"}
              = [date, date.strftime("%A")].join(' - ')
          .accordion-collapse.collapse{id: "collapse-#{date}", 'aria-labelledby': "heading-#{date}", 'data-bs-parent': "#accordion-hemigram-index"}
            .accordion-body
              = turbo_frame_tag(record_date) do
                = render record_date.hemigrams.sort
              = turbo_frame_tag("new_hemigram_for_date_#{record_date.id}") do
                .mt-3= link_to "Add hemigram", new_view_user_hemigram_date_hemigram_path(view_user_id: current_user.id, hemigram_date_id: record_date.id), class: 'btn btn-outline-dark'
