%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  .container-fluid
    %a.navbar-brand{href: root_path}
      .brand-image-wrapper{class: current_page?(root_path) ? 'brand-image-wrapper-home' : '' }
        = image_tag 'logo_blood.png', class: 'logo'
      .brand{class: current_page?(root_path) ? 'brand-home' : '' }
        %span#logo-blood>
          Blood
        %span#logo-tracker>
          Tracker
    .wrapper
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to 'Home', root_path, class: 'nav-link'
          %li.nav-item
            = link_to 'News', "#{root_path}#news-section", class: 'nav-link'
          %li.nav-item
            = link_to 'Links', "#{root_path}#affiliate-marketing-section", class: 'nav-link'
          - if user_signed_in?
            %li.nav-item
              = link_to 'Account', view_user_path(current_user), class: 'nav-link'
            %li.nav-item.dropdown
              = link_to 'Tracker', '#', class: 'nav-link dropdown-toggle dropdown-menu-start', id: 'navbarDropdownMenuLink', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', role: 'button'
              %ul.dropdown-menu-end.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                %li
                  = link_to 'Data', hemigrams_path, class: 'dropdown-item'
                %li
                  = link_to 'Graphs', graphs_path, class: 'dropdown-item'
          -# Admin user area
          - if user_signed_in? && current_user.admin?
            %li.nav-item.dropdown
              = link_to 'Admin', '#', class: 'nav-link dropdown-toggle dropdown-menu-start', id: 'navbarDropdownAdminLinks', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', role: 'button'
              %ul.dropdown-menu-end.dropdown-menu{"aria-labelledby" => "navbarDropdownAdminLinks"}
                %li
                  = link_to 'Blood type descriptions', admin_blood_cell_descriptions_path, class: 'dropdown-item'
          - if !user_signed_in?
            -# %li= link_to 'Sign up', new_user_registration_path, class: 'btn'
            %li= link_to 'Sign in (Admin)', new_user_session_path, class: 'btn btn-outline-light'
          - if user_signed_in?
            %li.nav-item
              = link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger'
