<nav>
  <div class="nav-wrapper">
      <%= link_to root_path, class: 'brand-logo'  do %>
        <div class="valign-wrapper"> <%= image_tag 'logo_blood.png', class: 'logo' %> Hemigram  </div>
      <% end %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <%= link_to 'About', about_path %> </li>
      <li> <%= link_to 'Hemigrams', hemigrams_path %> </li>
      <% if user_signed_in? %>
        <li> <%= link_to 'Account', view_user_path(current_user) %> </li>
      <% end %>
      <li> <%= nav_links %> </li>
      <% if !user_signed_in? %>
        <li> <%= link_to 'Sign up', new_user_registration_path, class: 'btn' %> </li>
      <% end %>
    </ul>
  </div>
</nav>
