!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BloodLevelsApp
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true }
    %link{href: "https://fonts.googleapis.com/css2?family=Rowdies&display=swap", rel: "stylesheet" }
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body
    %header
      = render 'layouts/navbar'
    %main
      .container.mt-3
        = render 'layouts/flash_messages'
      .container
        = yield
    %footer
