!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title BloodTracker
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true }
    %link{href: "https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Rowdies&display=swap", rel: "stylesheet" }
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    -# ensure that we load jquery first
    = javascript_include_tag 'jquery'
    -# favicons
    = render 'shared/favicon'

  %body
    .website-content-wrapper
      %header
        = render 'layouts/navbar'
      %main
        = render 'layouts/flash_messages'
        = yield
      %footer
        = render 'layouts/footer'
