!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title BloodTracker
    = csrf_meta_tags
    = csp_meta_tag
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true }
    %link{href: "https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Rowdies&display=swap", rel: "stylesheet" }
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    -# ensure that we load jquery first
    = javascript_include_tag 'jquery'
    -# favicons
    = render 'shared/favicon'
    -# -- Pinterest Tag -->
    %script
      :plain
         if(localStorage.getItem('cookieConsent') == 'accepted'){
          !function(e){if(!window.pintrk){window.pintrk = function () {
          window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
            n=window.pintrk;n.queue=[],n.version="3.0";var
            t=document.createElement("script");t.async=!0,t.src=e;var
            r=document.getElementsByTagName("script")[0];
            r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
          pintrk('load', '2612582801014');
          pintrk('page');
         }
    %noscript
      %img{height: "1", width: "1", style: "display:none;", alt: "", src: "https://ct.pinterest.com/v3/?event=init&tid=2612582801014&noscript=1"}
    -# end Pinterest Tag -->
    -# Pinterest track page visit -->
    %script
      :plain
        if(localStorage.getItem('cookieConsent') == 'accepted'){
          pintrk('track', 'pagevisit');
        }
    -# End Pinterest track page visit -->
    -# Start google analytics tag (gtag.js)
    %script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=G-B6VL5ZS8V9"}
    %script
      :plain
        if(localStorage.getItem('cookieConsent') == 'accepted'){
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-B6VL5ZS8V9');
        }
    -# End google analytics tag

  %body
    .website-content-wrapper
      %header
        = render 'layouts/navbar'
      %main
        = render 'layouts/flash_messages'
        = yield
        = render 'shared/cookie_banner'
      %footer
        = render 'layouts/footer'
